src/ECSRunTask/ECSRunTaskStateMachineServerless.asl.json
{
    "Comment": "This is your state machine",
    "StartAt": "Is RunTask call on Batch?",
    "States": {
        "Is RunTask call on Batch?": {
            "Type": "Choice",
            "Choices": [{
                "Or": [{
                    "Variable": "$.detail.requestParameters.cluster",
                    "StringMatches": "*_Batch_*"
                }, {
                    "Variable": "$.detail.requestParameters.cluster",
                    "StringMatches": "*AWSBatch-*"
                }],
                "Next": "Select common fields"
            }],
            "Default": "Skipping, RunTask call not on Batch"
        },
        "Skipping, RunTask call not on Batch": {
            "Type": "Pass",
            "End": true
        },
        "Select common fields": {
            "Type": "Pass",
            "Next": "SQS SendMessage RunTask Call",
            "Parameters": {
                "Region.$": "$.detail.awsRegion",
                "LastEventTime.$": "$.detail.eventTime",
                "CEName.$": "$.detail.requestParameters.tags[?(@.key=='aws:batch:compute-environment')].value",
                "JQName.$": "$.detail.requestParameters.tags[?(@.key=='aws:batch:job-queue')].value",
                "ECSCluster.$": "$.detail.requestParameters.cluster"
            }
        },
        "SQS SendMessage RunTask Call": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "ResultPath": null,
            "Parameters": {
                "QueueUrl": "${SQSMetricsQueue}",
                "MessageBody": {
                    "Dimensions": {
                        "JobQueue.$": "$.JQName[0]",
                        "ECSCluster.$": "$.ECSCluster",
                        "ComputeEnvironment.$": "$.CEName[0]"
                    },
                    "Properties": {
                        "ECSCluster.$": "$.ECSCluster",
                        "JobQueue.$": "$.JQName[0]",
                        "ComputeEnvironment.$": "$.CEName[0]"
                    },
                    "MetricName": "RunTask Call",
                    "MetricTime.$": "$.LastEventTime"
                }
            },
            "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "BackoffRate": 2.0,
                "MaxAttempts": 10
            }],
            "Next": "Job Not Placed, Skipping"
        },
        "Job Not Placed, Skipping": {
            "Type": "Pass",
            "End": true
        }
    }
}
